body {
  background-color: black;
}
/* 
Вспомогательный селектор */
.flex {
  display: flex;
}

/* Вспомогательный селектор */
.jc-c {
  justify-content: center;
}

/* Вспомогательный селектор */
.jc-sb {
  justify-content: space-between;
}

/* Вспомогательный селектор */
.ml30 {
  margin-left: 30px;
}

/* Вспомогательный селектор */
.mt20 {
  margin-top: 20px;
}

/* Вспомогательный селектор */
.mt45 {
  margin-top: 45px;
}
.ml25 {
  margin-left: 25px;
}

/* Вспомогательный селектор */
.al-ic {
  align-items: center;
}

/* Вспомогательный селектор для иконок*/
.img_nav {
  flex-direction: row;
  padding: 10px;
  gap: 10px;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50px;
}

/* Подсветка иконки оранжевым цветом */
.img_nav:hover {
  background: linear-gradient(180deg, #fd7a32 0%, #ffa149 100%);
}
.juguetes,
.heart,
.comida,
.mi_carrito,
.cupones,
.juguest_3 {
  cursor: pointer;
}

/* Подсветка белым цветом */
.text_nav:hover {
  color: white;
}
.c-j:hover {
  color: white;
  border: 1px solid white;
}

/* Вспомогательный селектор */
.c-j {
  width: 147px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #46444b;
  border: 1px solid #46444b;
  border-radius: 100px;
  text-align: center;
  justify-content: space-around;
  margin-left: 10px;
}

/* Начало CSS меню */
aside {
}

a {
  text-decoration: none;
}

a.a_link {
  color: rgba(255, 255, 255, 0.4);
}

a.a_link:hover {
  color: white;
}

.nav {
  width: 20%;
  box-sizing: border-box;
  padding: 50px 0;
  background: #28272b;
}

.ava {
  margin-top: 50px;
}

.text_avatar {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #ffffff;
}

.content {
  margin-left: 42px;
}

.text_content {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.15em;
  color: #ffa049;
}

.img_aside img {
  width: 30px;
}

.text_nav {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

.happy {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  gap: 30px;
  width: 216px;
  height: 327px;
  background: #533a79;
  border-radius: 15px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.text_happy {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.span_happy {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}

button {
  padding: 10px 18px;
  background: #ffa049;
  border-radius: 25px;
  border: none;
  width: 172px;
  height: 47px;
  cursor: pointer;
}

.text_button_happy {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
}
/* Тут закончилась CSS менюшки */

/* Начало CSS середины сайта */
.center {
  width: 45%;
}

.input_center {
  flex-direction: row;
  padding: 10px 10px 10px 20px;
  gap: 20px;

  width: 370px;
  height: 60px;
  left: 320px;
  top: 25px;
  /* Gris Oscuro/Gris Oscuro T1 */
  background: #1b1a1d;
  /* Gris Oscuro/Gris Oscuro T3 */
  border: 2px solid #323036;
  border-radius: 50px;
  margin-left: 21px;
}

input {
  width: 370px;
  height: 60px;
  border-radius: 50px;
  background: #1b1a1d3b;
  border: none;
  color: #46444b;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  outline: 0;
}

.call_center {
  margin-left: 150px;
}

.d_juguetes {
  margin: 68px 21px;
}

.text_juguetes {
  width: 114px;
  height: 36px;
  left: 320px;
  top: 153px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #ffffff;
}

.ver_mas {
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-decoration-line: underline;
  color: #ffffff;
  margin-left: 95px;
}

.img_center {
  width: 390px;
}

.img_text {
  box-sizing: border-box;
  width: 392px;
  height: 441px;
  background: #28272b;
  border: 2px solid #5dbf79;
  border-radius: 15px;
  margin-left: 21px;
}

.text_img_center {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #ffffff;
  margin: 25px 25px;
}

.img_1 {
  width: 390px;
  height: 200px;
  background: #5dbf79;
  border-radius: 13px 13px 0px 0px;
}

.img {
  margin-top: -1px;
}

.stars {
  margin-left: 21px;
  margin-top: -15px;
}

.star {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.4);
}

.price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 150%;
  color: #ffffff;
  margin-right: 24px;
}

.text_anadir_al_carrito {
  align-items: center;
  padding: 10px 18px;
  width: 250px;
  height: 30px;
  background: #ffa049;
  border-radius: 25px;
  margin-right: 10px;
  cursor: pointer;
}

.text_anadir_al_carrito p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}

.left {
  margin-left: 170px;
}

.p_left {
  width: 300px;
  height: 36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #ffffff;
  margin-top: 50px;
  flex-direction: column;
}

.left_batman {
  padding: 0px;
  width: 548px;
  height: 386px;
  background: #5dbf79;
  border-radius: 15px 15px 0px 0px;
}

.left_grey_block {
  padding: 0px;
  gap: 10px;

  width: 548px;
  height: 1011px;
  left: 1155px;
  /* Gris Oscuro/Gris Oscuro T2 */

  background: #28272b;
  border-radius: 0 0 15px 15px;
}

.text_up_batman {
  margin: 0;
}

.text_up_left {
  width: 485px;
  height: 36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #ffffff;
}

.text_up_left_p {
  width: 391px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.4);
}

.underline {
  text-decoration: underline;
}

.img_footer_1 {
}

.ammet {
  flex-direction: column;
}
